.product-total {
  background-color: var(--c-primary-lightest);
  text-align: right;
  font-weight: bold;
  border: 1px solid var(--table-border-color);

  .table--print & {
    background: none;
    border: 0;

    p {
      padding-bottom: 0;
    }
  }

  td {
    border: none;
  }
  &__line td {
    border-top: 1px solid var(--table-border-color);
  }
  &__line td + td {
    border-left: none;
  }
  &__line + &__line td {
    border: none;
  }
}
