$max-width  = 1024px;
$gutter     = 20px;
$gutter-2   = ($gutter / 2);
$gutter-4   = ($gutter / 4);


$c-primary    = #4595BA;
$c-accent     = #ff0078;
$c-background = #ecf4f8;
$c-black      = #445;

:root {
  --c-primary:      $c-primary;
  --gutter:         $gutter;
  --half-gutter:    $gutter-2;
  --quarter-gutter: $gutter-4;
}
