///////
// SIZES
///////

$gutter: 20px;
$half-gutter: ($gutter / 2);
$quarter-gutter: ($gutter / 4);

$max-width: 1024px;

//----- MEDIA QUERIES

$mq-big: '(min-width: #{$max-width})';

///////
// COLORS
///////


$c-primary:     hsl(199, 46%, 50%);
$c-primary-h:   hue($c-primary);
$c-primary-s:   saturation($c-primary);
$c-primary-l:   50%;
$c-accent:      #ff0078;
$c-background:  #ecf4f8;
$c-border:      rgb(73, 73, 73);
$c-black:       #445;

///////
// CSS VARS
///////

:root {
  --c-primary-h:    $c-primary-h;
  --c-primary-s:    $c-primary-s;
  --c-primary-l:    $c-primary-l;

  // Keep `hsl` in Uppercase
  // https://github.com/sass/node-sass/issues/2251#issuecomment-365861645
  --c-primary-lightest: HSL(var(--c-primary-h), var(--c-primary-s), 90%);
  --c-primary-lighter:  HSL(var(--c-primary-h), var(--c-primary-s), 80%);
  --c-primary:      HSL(var(--c-primary-h), var(--c-primary-s), var(--c-primary-l));

  --c-accent:       $c-accent;
  --c-background:   $c-background;
  --c-black:        $c-black;
  --c-border:       $c-border;

  --s-gutter:         $gutter;
  --s-half-gutter:    $half-gutter;
  --s-quarter-gutter: $quarter-gutter;

  --s-max-width:    $max-width;

}
