.business-form {
  display: grid;
  grid-template-columns: 1fr 35%;
  grid-template-rows: auto;
  grid-gap: var(--s-gutter);
  grid-template-areas:
    "meta     tax"
    "body     body"
    "actions  actions";

  &__item {
    background: white;
    padding: var(--s-gutter);
    border: 0;
    border-radius: var(--s-border-radius);

    &--meta { grid-area: meta; }
    &--tax {  grid-area: tax; }
    &--body { grid-area: body; }
  }
  &__actions {
    grid-area: actions;
  }
}

.status {
  display: grid;
  grid-template-columns: repeat( 4, 1fr);
  // gutter: var(--s-half-gutter);

  .field {
    flex-shrink: 0;
    width: auto;
  }
}
