
input,
button,
textarea {
  font: inherit;
  color: inherit;
}

.total,
input[type=number] {
  text-align: right;
}

fieldset:not([class]) {
  background: white;
  padding: var(--s-gutter);
  padding-bottom: var(--s-half-gutter);
  border: 0;
  border-radius: var(--s-quarter-gutter);
  margin: 0 0 var(--s-gutter);
}
.actions {
  padding: 0 var(--s-gutter) var(--s-half-gutter) var(--s-gutter);
}
.detail-actions {
  text-align: right;
  margin-bottom: var(--s-half-gutter);
}
.legend {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 var(--s-gutter);
}

// INPUTS A LA SOLVED-BY-FLEXBOX
.input {
  display: flex;
  margin-bottom: var(--s-gutter);

  &__field,
  &__label {
    border: 1px solid var(--c-primary-lighter);
    padding: 0.5em 0.75em;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }


  &__field {
    flex: 1 1 auto;
    min-width: 0;
    width: 0;

    &:not(:first-child) {
      border-left: 0;
    }
    &:not(:last-child) {
      border-right: 0;
    }
  }

  &__label {
    background-color: var(--c-primary-lightest);
    color: var(--c-primary);
    font: inherit;
    font-weight: normal;
    flex-shrink: 0;
  }
}

.field {
  display: flex;
  margin-bottom: var(--s-gutter);

  &__control,
  &__label {
    border: 1px solid var(--c-primary-lighter);
    padding: 0.5em 0.75em;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }


  &__control {
    flex: 1 1 auto;
    min-width: 0;
    width: 0;

    &:not(:first-child) {
      border-left: 0;
    }
    &:not(:last-child) {
      border-right: 0;
    }
  }

  &__label {
    background-color: var(--c-primary-lightest);
    color: var(--c-primary);
    font: inherit;
    font-weight: normal;
    flex-shrink: 0;
  }
}

// FLOATING LABEL
.input-float {
  position: relative;
  border: 1px solid var(--c-primary);

  & + .input-float {
    margin-top: 1.5em;
  }

  input,
  textarea {
    width: 100%;
    outline: none;
  }

  input,
  textarea,
  label {
    padding: 0.5em 0.75em;
    border: 0;
  }
  label {
    color: var(--c-primary);
    // disabled until react component OK
    // display: inline-block;
    // position: absolute;
    top: 0;
    left: 0;
    transition: all .25s;
    background: rgba(white, 0);
    padding-bottom: 0;
  }
  .is-floating {
    font-size: .75em;
    top: -1.5em;
    background: rgba(white, 1);
    color: rgba(black, .5);
  }
}

.form {
  &--profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--s-gutter);
  }
}
