$cols             = 12;

col($i = 1, $$cols = $cols){
  return ((100% / $$cols) * $i);
}
cell($i = 1, $$cols = $cols) {
  flex-basis: 'calc(%s - %s)' % (col($i, $$cols) $gutter);
}
.row {
  margin: 0 ($gutter * -.5);
  display: flex;
}
.cell {
  flex: 1 1 100%;
  max-width: 100%;
  margin: 0 ($gutter / 2) $gutter;
}
[class^='cell-'],
[class*=' cell-']{
  margin: 0 ($gutter / 2) $gutter;
  flex: 0;
}
.cell-1-3 {
  cell(1, 3);
}
.cell-1-4 {
  cell(1, 4);
}
.cell-1-5 {
  cell(1, 5);
}
