.header {
  $root: &;
  background: var(--c-header);
  height: var(--s-header-height);

  &__in,
  &__item {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__in {
    display: flex;
    width: 100%;
    border-right: 1px solid rgba(white, .1);
  }
  &__item {
    border-left: 1px solid rgba(white, .1);

    &--separator {
      margin-left: auto;
    }
  }
  a {
    color: #EEE;
    padding: 1em 2em;
    display: inline-block;

    &.is-active {
      color: var(--c-accent-lightest);
    }
    &:hover {
      background: var(--c-primary);
    }
  }
}
