@import './_config'
@import './_mixin'

// Fjalla One and Cantarell
// http://fontpair.co/#three

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #ecf4f8;
  color: #445;
}

a {
  text-decoration: none;
}

main {
  // IE9 +
  // http://weblog.west-wind.com/posts/2015/Jan/12/main-HTML5-Tag-not-working-in-Internet-Explorer-91011
  display: block;
  padding-bottom: $gutter;
}

header,
main {

  +mq('centered') {
    padding-left: 'calc(50% - %s)' % ($max-width / 2);
    padding-right: @padding-left;
  }

}

@import './grid'
@import './header'
@import './form'
@import './atomic'
@import './table'
