*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: $font-default;
  background: var(--c-background);
  color: var(--c-black);
}

a {
  text-decoration: none;
}

.main {
  min-height: 100vh;

  &--with-onboard {
    background: var(--c-primary-darkest);
    display: flex;
    align-items: center;
    justify-content: center;
    // grid-area: secondary-nav / secondary-nav / content / content;
  }
  &--with-page {
    padding: var(--s-gutter);
    grid-area: content;
  }
}

.page {
  &__header {
    margin: 0;
    padding: 0 var(--s-gutter);
    background: white;
    color: var(--c-nav);
    height: var(--s-nav-top-height);
    display: flex;
    align-items: center;
  }
  &__content {
    max-width: var(--s-max-width);
    margin: var(--s-gutter) auto;
  }
  &__secondary-nav-actions {
    margin-left: auto;
  }
}

#react-wrapper {
  min-height: 100vh;
  margin-left: var(--s-nav-main-width);
}

.main-logo {
  margin: 0;
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  letter-spacing: .05em;
  text-transform: uppercase;
  background: var(--c-nav);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--s-nav-main-width);
  height: var(--s-nav-top-height);
}

.onboard {
  background: var(--c-background);
  min-width: 500px;
  border: 0;
  border-radius: var(--s-border-radius);
  padding: var(--s-gutter) 0;

  form {
    width: 100%;
  }

  &__title,
  &__content {
    padding: var(--s-gutter) var(--s-big-gutter);
  }
  &__title {
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.card {
  background: white;
  padding: var(--s-gutter);
  border: 0;

  &__title {
    margin: 0;
    padding: 0;
  }
  &__content {
    padding-top: var(--s-gutter);
  }
}
