*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: $font-default;
  background: var(--c-background);
  color: var(--c-black);
}

a {
  text-decoration: none;
}

main > div[class=""],
main > div:not([class]) {
  background: white;
  max-width: 1024px;
  padding: var(--s-gutter);
  margin: var(--s-gutter) auto;
}

#react-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--s-nav-width) 1fr;
  grid-template-areas: "nav content";
}

.card {
  min-height: 100%;
  background: var(--c-primary-darkest);
  display: flex;
  align-items: center;
  justify-content: center;

  &__in {
    background: var(--c-background);
    padding: var(--s-big-gutter);
    min-width: 500px;
    border: 0;
    border-radius: var(--s-border-radius);

    form {
      width: 100%;
    }
  }
}

