// http://www.smashingmagazine.com/2015/01/designing-for-print-with-css/

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  /* ... the rest of the rules ... */
}
