table {
  border: 0;
  width: 100%;
  text-align: left;
  border-radius: var(--s-quarter-gutter);
  table-layout: fixed;
}

tr {
  vertical-align: top;
}

.table-pres {
  background: white;
  border-radius: var(--s-quarter-gutter);

  a {
    color: var(--c-primary);
    &:hover {
      color: black;
    }
  }

  th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1em 1.3em;
    background: var(--c-table-header);
    color: white;

    &:first-child {
      border-top-left-radius: var(--s-quarter-gutter);
    }
    &:last-child {
      border-top-right-radius: var(--s-quarter-gutter);
    }
  }

  tbody tr:nth-child(even) {
    background: #EEE;
  }

  td {
    padding: .5em 1em;

    p {
      margin: 0;
    }
  }
}

.table-form {
  border: 1px solid var(--c-primary-lighter);
  margin-bottom: var(--s-half-gutter);

  thead {
    border-bottom: 1px solid var(--c-primary-lighter);
  }

  th:nth-child(1) {

  }
  th:nth-child(2),
  th:nth-child(3),
  th:nth-child(4),
  th:nth-child(5) {
    width: 7em;
  }
  th:nth-child(6) {
    width: 3em;
  }

  th {
    background-color:  var(--c-primary-lightest);
    color: var(--c-primary);
    font: inherit;
    font-weight: normal;
    padding: 0.5em 0.75em;
    border-bottom: 1px solid var(--c-primary-lighter);

    + th {
      border-left: 1px solid var(--c-primary-lighter);
    }
  }

  td + td {
    border-left: 1px solid var(--c-primary-lighter);
  }

  tr + tr td {
    border-top: 1px solid var(--c-primary-lighter);
  }

  .amount {
    margin: 0;
  }

  textarea {
    resize: none;
  }

  .total,
  input,
  textarea {
    padding: 0.5em 0.75em;
  }
  input,
  textarea {
    width: 100%;
    border: 0;
  }
  tfoot td {
    border-top: 1px solid var(--c-primary-lighter);
    padding: 0.5em 0.75em;
    background-color: var(--c-primary-lightest);
    text-align: right;
    font-weight: bold;
  }
}
