@import '../config';

:root {
  --main-nav-bg: white;
  --main-nav-bg-hover: var(--c-primary-lightest);
  --main-nav-link-color: var(--c-primary);
  --main-nav-link-color-selected: var(--c-accent);
}

.nav-main {

  $root: &;
  background: var(--main-nav-bg);
  position: fixed;
  top: var(--s-nav-top-height);
  left: 0;
  width: var(--s-nav-main-width);
  bottom: 0;

  @media #{$mq-print} {
    display: none;
  }

  &__in,
  &__item {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--c-primary-lightest);
  }
  &__in {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__item {
    text-align: center;
    height: var(--s-nav-main-item-height);
    display: flex;
    justify-content: center;

    &--separator {
      margin-top: auto;
    }

    > * {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
  a {
    color: var(--main-nav-link-color);

    &:hover {
      background: var(--main-nav-bg-hover);
    }
    &.is-active {
      color: var(--main-nav-link-color-selected);

      &::before,
      &::after  {
        content: '•';
      }
      &::before {
        padding-right: .5em;
      }
      &::after {
        padding-left: .5em;
      }
    }
  }
}

.main-logo {
  margin: 0;
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  letter-spacing: .05em;
  text-transform: uppercase;
  background: var(--main-nav-bg);
  color: var(--c-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: var(--s-nav-main-width);
  height: var(--s-nav-top-height);

  @media #{$mq-print} {
    display: none;
  }
}
