@import '../config';

.nav-secondary {
  --c-nav-secondary: white;
  --shadow-opacity: 0;
  margin: 0;
  height: var(--s-nav-top-height);
  background: var(--c-nav-secondary);

  @media #{$mq-print} {
    display: none;
  }

  &__sentinel {
    position: absolute;
    width: 100%;
    top: 1px;
    pointer-events: none;
  }
  &__sticky {
    color: var(--c-nav);
    background: var(--c-nav-secondary);
    padding: 0 var(--s-gutter);
    position: fixed;
    left: var(--s-nav-main-width);
    height: var(--s-nav-top-height);
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;

    &::after {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      right: 0;
      pointer-events: none;
      height: 10px;
      background: radial-gradient(farthest-side at top, rgba(0, 0, 0, 0.15), transparent);
      opacity: var(--shadow-opacity);
      transition: opacity .25s;
    }

    &--is-stuck {
      --shadow-opacity: 1;
    }
  }
  &__title {
    &::first-letter {
      text-transform: capitalize;
    }
  }
  &__actions {
    margin-left: auto;
    display: flex;
    // form take the first action to submit
    // • still we want the presentation to be in a reversed order
    flex-direction: row-reverse;

    .button--icon {
      font-size: 1.25em;
    }
    > * {
      margin-left: var(--s-half-gutter);
    }
  }
}
