doctype html
html(lang="en")
  head
    title ConCompte
    meta(http-equiv="Content-Language", content="en")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //- Mobile
    meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=0")
    meta(name="apple-mobile-web-app-capable",content="yes")

    link(rel='stylesheet', href="/concompte.css")
    //- link(rel='icon', href='media/favicon.png', type='image/png')

  body
    header: ul
      li: a(href="/") home
      li: a(href="/quotation") new quotation
      //- li: a(href="/invoice") invoice
    main(role="main")
      block content
    script(src="/concompte-lib.js")
    script(src="/concompte.js")
    script.
      require('concompte');
