extends _layout.jade
include ./mixins/_quotations-list.jade

block content
  section
    h1
      | Quotations
      a.btn-circular(href="/quotation") +
    if quotations.length
      +quotations-list(quotations)
    else
      p none (yet)

