doctype html
html(lang="en")
  head
    title ConCompte
    meta(http-equiv="Content-Language", content="en")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel='stylesheet', href="/concompte.css")
    //- link(rel='icon', href='media/favicon.png', type='image/png')

  body
    main(role="main")
      | print


