extends _layout.jade
include ./mixins/detail-item.jade

block content
  h1 Invoice
  form(method="post" action="/quotation")
    fieldset
      h2.legend General

      .input
        label.item(for="title") Title
        input.field(id="title" name="title" type="text")

      .input
        label.item(for="customer") Customer
        input.field(id="customer" name="customer" type="text")

    fieldset
      h2.legend Detail
      table.table-form(cellspacing=0)
        thead
          tr
            th Désignation
            th Jours
            th PU HT
            th Taxes
            th Total HT
        tbody
          +detail-item({num: 0})

        tfoot
          tr
            td(colspan=5) € 0
      .detail-actions
        button.btn-secondary Add a line

    .actions
      button.btn(type="submit") Create invoice
