@import '../config-media-queries';

.table {
  $root: &;
  $print: '#{$root}--print';
  $presentation: '#{$root}--presentation';

  --table-border-color: var(--c-primary-lighter);
  --table-header-border-color: var(--c-primary);
  --table-header-bg-color: var(--c-primary-darker);
  --table-footer-bg-color: var(--c-primary-lightest);

  &__title {
    text-align: left;
    font-size: 1.25rem;
    padding: 0 0 .5em;
    text-transform: uppercase;
  }

  &__content {
    border-collapse: collapse;
    border-radius: var(--s-border-radius);
    width: 100%;
  }

  a {
    color: var(--c-accent);
    &:hover {
      color: black;
    }
  }

  th {
    font: inherit;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1em 1.3em;
    background: var(--table-header-bg-color);
    color: white;

    @media #{$mq-print} {
      // box-shadow act as a background for print
      box-shadow: inset var(--table-header-bg-color) 0 0 0 100px;
    }
  }

  tr {
    vertical-align: top;
  }

  &__head {
    &_row {
      border: 1px solid var(--table-header-bg-color);
      border-bottom: 0;

      .svg-icon {
        vertical-align: text-bottom;
      }
    }
    &_col {
      text-align: left;
      white-space: nowrap;

      &--is-id,
      &--is-date,
      &--is-progress {
        text-align: center;
      }
      &--is-number,
      &--is-amount {
        text-align: right;
      }
    }
  }

  &__body {
    &_row {
      border: solid var(--table-border-color);
      border-width: 0 1px 1px;

      // &:hover {
      //   background: var(--c-primary-white);
      // }
    }


    td + td {
      border-left: 1px solid var(--table-border-color);
    }
  }

  &__cell {
    padding: 0.5em 0.75em;

    &--is-checkbox {
      width: 2.5rem;
      padding: 0;
      position: relative;

      .field--is-checkbox {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .svg-icon {
        position: absolute;
        top: .5em;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    &--is-empty {
      text-align: center;
    }
    &--is-id,
    &--is-action {
      width: 1%;
      white-space: nowrap;
    }
    &--is-input,
    &--is-action {
      padding: 0;
    }
    &--is-action .button {
      display: block;
    }
    &--is-number,
    &--is-amount {
      text-align: right;
    }
    &--is-customer {
      white-space: nowrap;
      width: 15%;
    }
    &--is-number {
      width: 5em;
    }
    &--is-amount {
      width: 10em;
    }
    &--is-progress {
      position: relative;
      width: 7em;
    }
    &--is-date {
      width: 7.5em;
      text-align: center;
    }
  }

  &__footer {
    background-color: var(--table-footer-bg-color);
    border: 1px solid var(--table-border-color);
    text-align: right;
    font-weight: bold;

    &_row {
      border: 0;
    }
  }

  &__pagination {
    padding: 1em 0;
    display: flex;
    justify-content: flex-end;

    > * {
      margin-left: var(--s-gutter);
    }

    &_rows-per-page {
      padding-left: .35em;
    }

    &_action {
      display: inline-block;

      &--disabled {
        pointer-events: none;
        opacity: .25;
      }
    }
  }

  &--print {
    --table-border-color: var(--c-text-lighter);
    --table-header-border-color: var(--c-text);
    --table-header-bg-color: var(--c-text-darker);

    tfoot {
      --table-footer-bg-color: none;
      border: 0;

      td {
        padding-bottom: 0;
      }
    }
  }

  textarea {
    resize: none;
  }

  input,
  .textarea__placeholder,
  .textarea__field {
    padding: 0.5em 0.75em;
  }
  input,
  textarea {
    width: 100%;
    border: 0;
    display: block;
  }
}
