extends ./_base-layout.pug

block content
  #react-main-mount
    | !{dom}
  if initialState
    script.
      window.__INITIAL_STATE__ = !{JSON.stringify(initialState)}

  script(src="/vendor.concompte.js")
  script(src="/concompte.js")

