.home-charts {
  display: grid;
  grid-gap: 2rem;
  grid-Template-Columns: 1fr 1fr;
  background: var(--c-primary-white);
  border-radius: var(--s-border-radius);
  margin-bottom: var(--s-gutter);
  padding: var(--s-gutter);
}
