.profile-form {
  $root: &;
  $section: "#{$root}__section";
  --profile-max-width: var(--s-max-width);
  --profile-gutter: minmax(var(--s-gutter), calc(50% - var(--profile-max-width) / 2));
  --profile-overlap-height: var(--s-two-gutter);
  --profile-form-bg: var(--c-primary-darker);
  // css custom properties doesn't seems to work with background size
  $shred-size: 20px;

  &__title {
    margin: 1em 0 .5em;
    font-size: 2.25rem;
    font-weight: 300;

    span {
      &::before {
        content: '_';
        color: var(--c-primary-lighter);
      }
    }
  }

  &__sub-title {
    font-weight: 700;
    font-size: 1.25rem;
  }

  &__user {
    padding-top: var(--s-gutter);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--s-big-gutter);

    .field--address {
      margin-bottom: 0;
    }
    .paper-sheet__party {
      margin: 0;
    }
  }

  &__product {
    &-form {
      display: grid;
      grid-template-columns: 1fr 5rem 3rem 4rem;
      grid-gap: var(--s-gutter);
    }
  }

  &__references {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--s-gutter);

    &-content {
      margin: 0;
      padding: var(--s-half-gutter) 0 0;
    }

    &-form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--s-gutter);
    }
  }

  &__mentions {
    padding-top: var(--s-gutter);

    .table {
      border-top: none;
    }
    thead {
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }
    th {
      height: 0;
      overflow: hidden;
      padding: 0;
    }
    .paper-sheet + .field {
      margin-top: var(--s-two-gutter);
    }
  }
  .actions {
    margin-top: var(--s-gutter);
  }
}
