.profile-form {
  &__meta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--s-big-gutter);

    &-one-liner {
      display: grid;
      grid-template-columns: 3rem minmax(min-content, 1fr) 1fr 4rem;
      grid-template-areas: "tax nothing prefix start-at";
      grid-gap: var(--s-gutter);

      .field--defaultquotation {
        &-tax {
          grid-area: tax;
        }
        &-prefix {
          grid-area: prefix;
        }
        &-startat {
          grid-area: start-at;
        }
      }
    }
  }
}
