@import '~@hiswe/focus-ring/dist/focus-ring.scss';

:root {
  // COLORS
  // TODO: should not rely on vuetify colors

  $c-primary: hsl(248, 41%, 43%);
  // need a value without deg to work in Chrome/Safari
  // https://stackoverflow.com/questions/7169625/using-sass-how-to-convert-a-percentage-to-a-decimal/7180653
  $c-primary-h: hue($c-primary) / 1deg;
  $c-primary-s: saturation($c-primary);
  $c-primary-l: lightness($c-primary);

  $c-accent: hsl(199, 71%, 47%);
  $c-accent-h: hue($c-accent) / 1deg;
  $c-accent-s: saturation($c-accent);
  $c-accent-l: lightness($c-accent);

  --c-primary-h: #{$c-primary-h};
  --c-primary-s: #{$c-primary-s};
  --c-primary-l: #{$c-primary-l};

  --c-accent-h: #{$c-accent-h};
  --c-accent-s: #{$c-accent-s};
  --c-accent-l: #{$c-accent-l};

  // Keep `hsl` in Uppercase
  // https://github.com/sass/node-sass/issues/2251#issuecomment-365861645

  --c-primary: var(--v-primary-base);
  --c-primary-darker: var(--v-primary-darken2);
  --c-primary-lighter: HSL(var(--c-primary-h), var(--c-primary-s), 65%);
  --c-primary-lightest: HSL(var(--c-primary-h), var(--c-primary-s), 90%);
  --c-primary-white: HSL(var(--c-primary-h), var(--c-primary-s), 97%);

  --c-accent: HSL(var(--c-accent-h), var(--c-accent-s), var(--c-accent-l));
  --c-accent-lighter: HSL(var(--c-accent-h), var(--c-accent-s), 60%);
  --c-accent-lightest: HSL(var(--c-accent-h), var(--c-accent-s), 90%);

  --v-primary-lighten6: hsl(248, 41%, 90%);

  // --c-accent-lighter:   HSL(var(--c-accent-h), var(--c-accent-s), 60%);
  // --c-accent-lightest:  HSL(var(--c-accent-h), var(--c-accent-s), 90%);

  --s-gutter: 32px;
  --s-two-gutter: calc(var(--s-gutter) * 2);
  --s-half-gutter: calc(var(--s-gutter) / 2);
  --s-quarter-gutter: calc(var(--s-gutter) / 4);

  --s-max-width: #{$max-width};

  // PAPER SHEET
  --sheet-border-radius: var(--s-quarter-gutter);
  --sheet-border-color: var(--v-primary-lighten6);
  --sheet-shadow-color: rgba(0, 0, 0, 0.25);
  --sheet-big-font-size: 1.5rem;

  // NAV CONFIG
  --nav-main-width: 230px;
  --nav-main-item-height: 50px;
  --nav-main-link-color: var(--c-primary);
  --nav-main-link-color-selected: var(--c-accent);
  --nav-secondary-bg: white;
  --nav-secondary-height: 70px;
  --nav-secondary-color: var(--c-primary-darkest);
  --nav-secondary-shadow: rgba(0, 0, 0, 0.15);

  // HEADER
  --header-border-radius: var(--s-quarter-gutter);
  --header-bg: var(--c-primary-lightest);
}

html {
  // Prevent font scaling in landscape while allowing user zoom
  -webkit-text-size-adjust: 100%;
  // Roboto to keep close to vuetify
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: percentage(16/16);
}

html,
body {
  margin: 0;
  padding: 0;
}
// prevent zooming on double-tap
// https://stackoverflow.com/questions/46167604/iphone-html-disable-double-tap-to-zoom
button {
  touch-action: manipulation;
}
// accord native elements to website style
button,
input,
textarea,
select {
  font: inherit;
}
