:root {
  --v-primary-lighten6: hsl(248, 41%, 90%);

  --s-gutter: 32px;
  --s-two-gutter: calc(var(--s-gutter) * 2);
  --s-half-gutter: calc(var(--s-gutter) / 2);
  --s-quarter-gutter: calc(var(--s-gutter) / 4);

  --s-max-width: #{$max-width};

  // PAPER SHEET
  --sheet-border-radius: var(--s-quarter-gutter);
  --sheet-border-color: var(--v-primary-lighten6);
  --sheet-shadow-color: rgba(0, 0, 0, 0.25);
  --sheet-big-font-size: 1.5rem;

  // NAV CONFIG
  --nav-main-width: 230px;
  --nav-main-item-height: 50px;
  --nav-main-link-color: var(--c-primary);
  --nav-main-link-color-selected: var(--c-accent);
  --nav-secondary-bg: white;
  --nav-secondary-height: 70px;
  --nav-secondary-color: var(--c-primary-darkest);
  --nav-secondary-shadow: rgba(0, 0, 0, 0.15);
}

html {
  // Prevent font scaling in landscape while allowing user zoom
  -webkit-text-size-adjust: 100%;
  // Roboto to keep close to vuetify
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: percentage(16/16);
}

html,
body {
  margin: 0;
  padding: 0;
}
// prevent zooming on double-tap
// https://stackoverflow.com/questions/46167604/iphone-html-disable-double-tap-to-zoom
button {
  touch-action: manipulation;
}
// accord native elements to website style
button,
input,
textarea,
select {
  font: inherit;
}
