.notification {
  padding: .5em .75em;
  background: var(--c-notification-bg);
  color: var(--c-notification-text);

  &--error {
    --c-notification-bg:  hsl(0, 98%, 40%);
  }

  &__title {
    margin: 0;
  }
}
