.notifications {
  --c-notification-bg:  var(--c-accent);
  --c-notification-text:  white;
  position: fixed;
  z-index: 100;
  bottom: 0;
  right:  var(--s-gutter);
  width: 450px;
  left: calc( 50% - var(--s-nav-main-width) / 2 );
}
