.main-nav {
  $root: &;
  background: var(--c-nav);
  position: fixed;
  top: var(--s-nav-top-height);
  left: 0;
  width: var(--s-nav-main-width);
  bottom: 0;

  &__in,
  &__item {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__in {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__item {
    text-align: center;
    height: var(--s-nav-main-item-height);
    display: flex;
    justify-content: center;

    &--separator {
      margin-top: auto;
    }

    > * {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
  a {
    color: var(--c-primary-lightest);

    &:hover {
      background: var(--c-primary-darkest);
    }
    &.is-active {
      background: var(--c-primary-lighter);
    }
  }
}
