.paper-sheet {
  $root: &;
  --sheet-border-radius: var(--s-quarter-gutter);
  --sheet-shadow-color: rgba(0, 0, 0, .35);
  background: white;
  padding: calc( var(--s-gutter) * 1.5 ) var(--s-gutter);
  border-radius: var(--sheet-border-radius);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  // paper-sheet shadow
  &::before,
  &::after {
    z-index: -1;
    position: absolute;
    content: '';
    bottom: 10px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: var(--sheet-shadow-color);
    box-shadow: 0 15px 10px var(--sheet-shadow-color);
    border-radius: var(--sheet-border-radius);
    transform: rotate(-3deg);
  }
  &::after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }

  // facing blocks
  > :not(#{$root}__party) {
    grid-column: 1 / span 2;
    margin-top: var(--s-gutter);
  }

  &__party {
    margin-bottom: calc( var(--s-gutter) * 3 );

    & + & {
      text-align: right;
    }
  }

  // facing blocks description
  &__address{
    &--empty {
      color: grey;
      font-style: italic;
    }
  }
}
