@import '../config';

@import './root-custom-properties';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: $font-default;
  background: var(--c-background);
  color: var(--c-black);
  line-height: 1.4em;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font: inherit;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
#react-wrapper {
  min-height: 100vh;
  margin-left: var(--s-nav-main-width);
}
.main {
  // min-height: 100vh;

  &--with-onboard {
    background: var(--c-primary);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// .form {
//   &--profile {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-gap: var(--s-gutter);
//   }
// }

// .actions {
//   padding: 0 var(--s-gutter) var(--s-half-gutter) var(--s-gutter);
// }

// .detail-actions {
//   text-align: right;
//   margin-bottom: var(--s-half-gutter);
// }
// .legend {
//   font-size: 18px;
//   font-weight: normal;
//   text-transform: uppercase;
//   margin: 0;
//   padding: 0 0 var(--s-gutter);
// }

// .card {
//   background: white;
//   padding: var(--s-gutter);
//   border: 0;

//   &__title {
//     margin: 0;
//     padding: 0;
//   }
//   &__content {
//     padding-top: var(--s-gutter);
//   }
// }

///////
// BUTTONS
///////

%btn {
  border: 2px solid;
  padding: .75em 1em;
  border-radius: var(--s-quarter-gutter);
  cursor: pointer;
  display: inline-block;
}

.btn {
  @extend %btn;
  border-color: var(--c-accent);
  background: var(--c-accent);
  color: white;

  &:hover {
    background: white;
    color: var(--c-accent);
  }
}
.btn-secondary {
  @extend %btn;
  border-color: white;
  background: white;
  color: var(--c-black);

  &:hover {
    background: white;
  }
}

.btn-circular {
  @extend %btn;
  $size: 1.75em;
  font-size: 1.5em;
  width: 1.75em;
  height: $size;
  line-height: ($size * .9);
  border-radius: $size;
  padding: 0;
  text-align: center;

  h1 & {
    font-size: 24px;
    float: right;
  }
}
// circular fixed positioned button;
.btn-fab {
  cursor: pointer;
  $size: 1.75em;
  color: white;
  background: $c-accent;
  font-size: 2.5rem;
  width: 1.75em;
  height: $size;
  line-height: ($size * .9);
  border-radius: $size;
  padding: 0;
  text-align: center;
  position: fixed;
  bottom: .5em;
  right: .5em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    // background: lighten(@background, 15%);
  }
  &:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

///////
// PRINT
///////

// http://www.smashingmagazine.com/2015/01/designing-for-print-with-css/

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  /* ... the rest of the rules ... */
}
