@import '../config';

@import './root-custom-properties';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: $font-default;
  background: var(--c-background);
  color: var(--c-black);
  line-height: 1.4em;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

input[type=number] {
  text-align: right;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
#react-wrapper {
  min-height: 100vh;
  margin-left: var(--s-nav-main-width);
}

///////
// PRINT
///////

// http://www.smashingmagazine.com/2015/01/designing-for-print-with-css/

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  /* ... the rest of the rules ... */
}
