// can't use nth-of child as a slice with 100% will be rendered as a circle
@mixin slice-colors($start : 1) {
  // 1 children
  &:nth-child(#{$start}):nth-last-child(1) {
    --slice-color: var(--slice-1-bg);
  }
  // 2 children
  &:nth-child(#{$start}):nth-last-child(2) {
    --slice-color: var(--slide-strong);
  }
  &:nth-child(#{$start + 1}):nth-last-child(1) {
    --slice-color: var(--slice-accent);
  }
  // 3 children
  &:nth-child(#{$start}):nth-last-child(3) {
    --slice-color: var(--slide-fade);
  }
  &:nth-child(#{$start + 1}):nth-last-child(2) {
    --slice-color: var(--slide-strong);
  }
  &:nth-child(#{$start + 2}):nth-last-child(1) {
    --slice-color: var(--slice-accent);
  }
}

.pie-chart {
  --pie-size: 160px;
  --pie-donut-size: .5;
  --slide-fade: var(--c-primary-lighter);
  --slide-strong: var(--c-primary);
  --slice-accent: var(--c-accent-lighter);

  &__defs {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 var(--s-quarter-gutter);
  }
  &__pie-wrapper {
    height: var(--pie-size);
    width: var(--pie-size);
    margin: 0 auto;
    position: relative;
  }
  &__pie {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
    display: block;

    &-bg {
      stroke-width: var(--pie-donut-size);
      stroke: var(--c-primary-lightest);
      fill: white;
    }
  }
  &__pie-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    min-height: 85px;

    &_item {
      @include slice-colors();
      text-align: center;
      padding: var(--s-half-gutter) var(--s-half-gutter) 0;

      &::before {
        content: '';
        display: block;
        width: 1em;
        height: 1em;
        background: var(--slice-color);
        margin: 0 auto;
      }
      &:first-child {
        margin-right: auto;
      }
      &:last-child {
        margin-left: auto;
      }
    }
  }
  &__slice {
    // start at 2 because of the background circle
    @include slice-colors(2);
    stroke-width: var(--pie-donut-size);
    fill: none;
    transition: stroke-width .25s;
    stroke: var(--slice-color);

    &:hover {
      --pie-donut-size: .6;
    }
  }
  &__label {
    margin: var(--s-quarter-gutter) 0 0;
    text-transform: uppercase;
  }
  &__value {
    margin: 0;
    font-weight: bold;

    &::before {
      content: '% ';
      opacity: 0;
    }
  }
}
