%btn {
  border: 2px solid;
  padding: .75em 1em;
  border-radius: var(--s-quarter-gutter);
  cursor: pointer;
  display: inline-block;
}

.button {
  --button-bg-color:    var(--c-accent);
  --button-border-color: var(--c-accent);
  --button-text-color: white;
  --button-bg-color-hover:    var(--c-button-text-color);
  --button-border-color-hover: var(--button-border-color);
  --button-text-color-hover: var(--button-bg-color);
  --button-icon-size: 2.5em;
  border: 2px solid;
  padding: .75em 1em;
  border-radius: var(--s-quarter-gutter);
  cursor: pointer;
  display: inline-block;
  border-color: var(--button-border-color);
  background: var(--button-bg-color);
  color: var(--button-text-color);

  &:hover {
    border-color: var(--button-border-color-hover);
    background: var(--button-bg-color-hover);
    color: var(--button-text-color-hover);
  }

  &[disabled] {
    opacity: .75;
    pointer-events: none;
  }

  &--secondary,
  &--danger {
    --button-bg-color: white;
    --button-border-color: var(--button-bg-color);
    --button-text-color: var(--c-accent);
    --button-bg-color-hover: var(--c-accent-lightest);
    --button-bg-border-hover: var(--button-bg-color-hover);
    --button-text-color-hover: var(--button-text-color);
  }

  &--danger {
    --button-text-color: var(--c-alert-darker);
    --button-bg-color-hover: var(--c-alert-lightest);
  }

  &--link {
    background: none;
    color: var(--c-accent);
    border: 0;
    padding: 0.5em 0.75em;

    &:hover {
      text-decoration: underline;
    }
  }

  &--icon {
    width: var(--button-icon-size);
    height: var(--button-icon-size);
    border-radius: var(--button-icon-size);
    padding: 0;
    position: relative;
    border: 0;
    --button-bg-color: var(--c-accent);
    --button-text-color: white;
    --button-bg-color-hover: var(--c-accent-lightest);

    &-danger,
    &-secondary {
      --button-text-color: var(--c-text);
      --button-bg-color: transparent;
      --button-text-color-hover: var(--button-text-color);
    }

    &-danger {
      --button-text-color: var(--c-alert-darker);
      --button-bg-color-hover: var(--c-alert-lightest);
    }

    &-link {
      --button-bg-color: white;
      --button-text-color: var(--c-accent);

      &:hover {
        --button-bg-color: var(--c-accent);
        --button-text-color: var(--c-accent-lightest);
      }
    }

    .svg-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
