%btn {
  border: 2px solid;
  padding: .75em 1em;
  border-radius: var(--s-quarter-gutter);
  cursor: pointer;
  display: inline-block;
}

.button {
  --button-bg-color: var(--c-accent);
  --button-text-color: white;
  --button-fab-size: 5em;
  --button-icon-size: 2.5em;
  border: 2px solid;
  padding: .75em 1em;
  border-radius: var(--s-quarter-gutter);
  cursor: pointer;
  display: inline-block;
  border-color: var(--button-bg-color);
  background: var(--button-bg-color);
  color: var(--button-text-color);

  &:hover {
    background: var(--button-text-color);
    color: var(--button-bg-color);
  }

  &[disabled] {
    opacity: .75;
    pointer-events: none;
  }

  &--secondary {
    --button-bg-color: white;
    --button-text-color: var(--c-text);

    &:hover {
      background: var(--button-bg-color);
      color: var(--c-accent);
    }
  }

  &--fab {
    width: var(--button-fab-size);
    height: var(--button-fab-size);
    line-height: calc( var(--button-fab-size) * 0.9 );
    border-radius: var(--button-fab-size);
    padding: 0;
    text-align: center;
    position: fixed;
    z-index: 2;
    bottom: var(--s-half-gutter);
    right: var(--s-half-gutter);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);

    &:active {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    .svg-icon {
      font-size: 1.5em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--link {
    background: none;
    color: var(--c-accent);
    border: 0;
    padding: 0.5em 0.75em;

    &:hover {
      text-decoration: underline;
    }
  }

  &--icon {
    width: var(--button-icon-size);
    height: var(--button-icon-size);
    border-radius: var(--button-icon-size);
    padding: 0;
    position: relative;
    border: 0;
    --button-bg-color: var(--c-accent);
    --button-text-color: white;

    &:hover {
      --button-bg-color: var(--c-accent);
      --button-text-color:var(--c-accent-lightest);
    }

    &-secondary {
      --button-text-color: var(--c-text);
      --button-bg-color: white;

      &:hover {
        --button-bg-color: var(--c-text);
        --button-text-color: var(--c-accent-lightest);
      }
    }

    &-link {
      --button-bg-color: white;
      --button-text-color: var(--c-accent);

      &:hover {
        --button-bg-color: var(--c-accent);
        --button-text-color: var(--c-accent-lightest);
      }
    }

    .svg-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
