// ~ is required for root imports
// https://github.com/webpack-contrib/sass-loader#imports
// https://github.com/webpack-contrib/sass-loader/issues/410#issuecomment-342990798
@import '~react-day-picker/lib/style.css';

// style overrides
.DayPicker {
  $root: &;
  $dayRoot: '#{$root}-Day';
  color: var(--c-black);
  font-style: normal;

  &:not(#{$root}--interactionDisabled)
    #{$dayRoot}:not(#{$dayRoot}--disabled):not(#{$dayRoot}--selected):not(#{$dayRoot}--outside):hover {
    background-color: var(--c-accent-lightest);
  }
  &-Day {
    $dayRoot: &;
    &--selected:not(#{$dayRoot}--disabled):not(#{$dayRoot}--outside) {
      background: var(--c-accent);

      &:hover {
        background: var(--c-accent-lighter);
      }
    }
    &--today {
      color: var(--c-primary);
    }
  }
  &Input {
    input {
      font: inherit;
      color: white;
      background: none;
      padding: 0.5em 0 0;
      text-align: center;
      border: 0;
    }
  }
}
