.form {
  &--is-saving {
    .field,
    .button {
      opacity: .75;
      pointer-events: none;
    }
  }
  &__actions {
    margin-top: var(--s-gutter);

    @media print {
      display: none;
    }
    .button + .button {
      margin-left: var(--s-half-gutter);
    }
  }
}
