.notifications {
  --c-notification-bg:  var(--c-accent);
  --c-notification-text:  white;
  position: fixed;
  z-index: 100;
  bottom: var(--s-gutter);
  right:  var(--s-gutter);
  width: 350px;

  &__item {
    padding: var(--s-gutter);
    margin-top: var(--s-gutter);
    background: var(--c-notification-bg);
    color: var(--c-notification-text);

    &--error {
      --c-notification-bg:  hsl(0, 98%, 40%);
    }
  }

  &__title {
    margin: 0;
  }
  &__content {
    padding-top: var(--s-half-gutter);
  }
}
