.icon-add {
  width: 1.5em;
  height: 1.5em;
}

.icon-block {
  width: 1.5em;
  height: 1.5em;
}

.icon-delete {
  width: 1.5em;
  height: 1.5em;
}

.icon-edit {
  width: 1.5em;
  height: 1.5em;
}

.icon-note-add {
  width: 1.5em;
  height: 1.5em;
}

.icon-person-add {
  width: 1.5em;
  height: 1.5em;
}

.icon-print {
  width: 1.5em;
  height: 1.5em;
}

.icon-remove-circle {
  width: 1.5em;
  height: 1.5em;
}

.icon-save {
  width: 1.5em;
  height: 1.5em;
}

.icon-view-list {
  width: 1.5em;
  height: 1.5em;
}

