.table {
  border: 1px solid var(--c-primary-lighter);
  background: white;
  border-radius: var(--s-border-radius);
  width: 100%;

  thead {
    border-bottom: 1px solid var(--c-primary-lighter);
  }

  a {
    color: var(--c-accent);
    &:hover {
      color: black;
    }
  }

  th {
    font: inherit;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1em 1.3em;
    background: var(--c-table-header);
    color: white;

    + th {
      border-left: 1px solid var(--c-primary);
    }
  }

  tr {
    vertical-align: top;
  }

  td {
    &.is-number {
      text-align: right;
    }

    .amount,
    p {
      display: block;
      margin: 0;
      padding: 0.5em 0.75em;
    }
  }

  td + td {
    border-left: 1px solid var(--c-primary-lighter);
  }

  tr + tr td {
    border-top: 1px solid var(--c-primary-lighter);
  }

  .amount {
    margin: 0;
  }

  textarea {
    resize: none;
  }

  .total,
  input,
  textarea {
    padding: 0.5em 0.75em;
  }
  input,
  textarea {
    width: 100%;
    border: 0;
    display: block;
  }
  tfoot td {
    border-top: 1px solid var(--c-primary-lighter);
    background-color: var(--c-primary-lightest);
    text-align: right;
    font-weight: bold;
  }

  &--pres {
    td {
      padding: var(--s-quarter-gutter) var(--s-half-gutter);
    }
    tbody tr:nth-child(even) {
      background: #EEE;
    }
  }
}
