@import '../config';

.table {
  --table-border-color: var(--c-primary-lighter);
  --table-header-border-color: var(--c-primary);
  --table-header-bg-color: var(--c-primary-darker);
  border-collapse: collapse;
  background: white;
  border-radius: var(--s-border-radius);
  width: 100%;

  &--print {
    --table-border-color: var(--c-text-lighter);
    --table-header-border-color: var(--c-text);
    --table-header-bg-color: var(--c-text-darker);
  }

  a {
    color: var(--c-accent);
    &:hover {
      color: black;
    }
  }

  th {
    font: inherit;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1em 1.3em;
    background: var(--table-header-bg-color);
    color: white;

    @media #{$mq-print} {
      // box-shadow act as a background for print
      box-shadow: inset var(--table-header-bg-color) 0 0 0 100px;
    }

    + th {
      border-left: 1px solid var(--table-header-border-color);
    }
  }

  tr {
    vertical-align: top;
  }

  thead tr {
    border: 1px solid var(--table-header-bg-color);
    border-bottom: 0;
  }

  tbody tr {
    border-left: 1px solid var(--table-border-color);
    border-right: 1px solid var(--table-border-color);

    + tr {
      border-top: 1px solid var(--table-border-color);
    }
  }

  .is-action {
    text-align: center;

    .button--icon {
      display: block;
      margin: 0 auto;
    }

    @media print {
      display: none;
    }
  }

  td {
    &.is-number {
      text-align: right;
    }

    a,
    .amount,
    p {
      display: inline-block;
      margin: 0;
      padding: 0.5em 0.75em;
    }
  }

  td + td {
    border-left: 1px solid var(--table-border-color);
  }

  .amount {
    margin: 0;
  }

  textarea {
    resize: none;
  }

  .total,
  input,
  textarea {
    padding: 0.5em 0.75em;
  }
  input,
  textarea {
    width: 100%;
    border: 0;
    display: block;
  }

  &--pres {
    tbody tr:nth-child(even) {
      background: #EEE;
    }
  }
}
