.icon-archive {
  width: 1.5em;
  height: 1.5em;
}

.icon-arrow-downward {
  width: 1.5em;
  height: 1.5em;
}

.icon-arrow-upward {
  width: 1.5em;
  height: 1.5em;
}

.icon-block {
  width: 1.5em;
  height: 1.5em;
}

.icon-chevron-left {
  width: 1.5em;
  height: 1.5em;
}

.icon-chevron-right {
  width: 1.5em;
  height: 1.5em;
}

.icon-delete {
  width: 1.5em;
  height: 1.5em;
}

.icon-edit {
  width: 1.5em;
  height: 1.5em;
}

.icon-note-add {
  width: 1.5em;
  height: 1.5em;
}

.icon-person-add {
  width: 1.5em;
  height: 1.5em;
}

.icon-print {
  width: 1.5em;
  height: 1.5em;
}

.icon-receipt {
  width: 1.5em;
  height: 1.5em;
}

.icon-save {
  width: 1.5em;
  height: 1.5em;
}

.icon-view-list {
  width: 1.5em;
  height: 1.5em;
}

.icon-visibility {
  width: 1.5em;
  height: 1.5em;
}

