@import '../config';

.table {
  $root: &;
  $print: '#{$root}--print';
  $presentation: '#{$root}--presentation';

  --table-border-color: var(--c-primary-lighter);
  --table-header-border-color: var(--c-primary);
  --table-header-bg-color: var(--c-primary-darker);
  --table-footer-bg-color: var(--c-primary-lightest);

  &__title {
    text-align: left;
    font-size: 1.25rem;
    padding: 0 0 .5em;
    text-transform: uppercase;
  }

  &__content {
    border-collapse: collapse;
    border-radius: var(--s-border-radius);
    width: 100%;
  }

  a {
    color: var(--c-accent);
    &:hover {
      color: black;
    }
  }

  th {
    font: inherit;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1em 1.3em;
    background: var(--table-header-bg-color);
    color: white;

    @media #{$mq-print} {
      // box-shadow act as a background for print
      box-shadow: inset var(--table-header-bg-color) 0 0 0 100px;
    }
  }

  tr {
    vertical-align: top;
  }

  &__head {
    &_row {
      border: 1px solid var(--table-header-bg-color);
      border-bottom: 0;

      .svg-icon {
        vertical-align: text-bottom;
      }
    }
    &_col {
      text-align: left;
      white-space: nowrap;

      &--is-id,
      &--is-date,
      &--is-progress {
        text-align: center;
      }
      &--is-number,
      &--is-amount {
        text-align: right;
      }
    }
  }

  &__body {
    &_row {
      border: solid var(--table-border-color);
      border-width: 0 1px 1px;

      // &:hover {
      //   background: var(--c-primary-white);
      // }
    }

    &_col {
      padding: 0.5em 0.75em;

      &--is-id,
      &--is-action {
        width: 1%;
        white-space: nowrap;
      }
      &--is-input,
      &--is-action {
        padding: 0;
      }
      &--is-number,
      &--is-amount {
        text-align: right;
      }
      &--is-customer {
        white-space: nowrap;
        width: 15%;
      }
      &--is-number {
        width: 5em;
      }
      &--is-amount {
        width: 10em;
      }
      &--is-progress {
        position: relative;
        width: 7em;
      }
      &--is-date {
        width: 7em;
        text-align: center;
      }
    }
    td + td {
      border-left: 1px solid var(--table-border-color);
    }
  }

  tfoot {
    background-color: var(--table-footer-bg-color);
    text-align: right;
    font-weight: bold;
    border: 1px solid var(--table-border-color);

    tr {
      border: 0;
    }
  }

  &--print {
    --table-border-color: var(--c-text-lighter);
    --table-header-border-color: var(--c-text);
    --table-header-bg-color: var(--c-text-darker);

    tfoot {
      --table-footer-bg-color: none;
      border: 0;

      td {
        padding-bottom: 0;
      }
    }
  }

  .is-action {
    text-align: center;
    width: 50px;

    .button--icon {
      display: block;
      margin: 0 auto;
    }

    @media print {
      display: none;
    }
  }

  textarea {
    resize: none;
  }

  input,
  textarea {
    padding: 0.5em 0.75em;
  }
  input,
  textarea {
    width: 100%;
    border: 0;
    display: block;
  }
}
