.invoice-form {
  &__header {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    padding-bottom: var(--s-gutter);

    &_title {
      grid-row: 1 / span 1;
      color: var(--c-primary-lighter);
    }
    &_content {
      grid-row: 2 / span 2;
      margin: 0;
      color: white;

      a {
        color: var(--c-accent-lighter);
        display: inline-block;
        padding: var(--s-half-gutter) 0;
      }
    }
  }
}
