.form {
  &--is-saving {
    .field,
    .button {
      opacity: .75;
      pointer-events: none;
    }
  }
  &__actions {
    margin-top: var(--s-gutter);
    display: flex;

    @media print {
      display: none;
    }
    .button {
      margin-left: var(--s-half-gutter);

      &:first-child {
        margin-left: 0;
      }
    }
    .button--danger {
      margin-left: auto;
    }
  }
}
