///////
// FONTS
///////

// http://markdotto.com/2018/02/07/github-system-fonts/
$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

///////
// SIZES
///////

$max-width: 1100px;

//----- MEDIA QUERIES

// register a print query here
// • better for testing: just change to 'screen' ^^
$mq-print:  'print';
$mq-big:    '(min-width: #{$max-width})';

///////
// COLORS
///////

$c-primary:    hsl(248, 41%, 43%);
// need a value without deg to work in Chrome/Safari
// https://stackoverflow.com/questions/7169625/using-sass-how-to-convert-a-percentage-to-a-decimal/7180653
$c-primary-h:   hue($c-primary) / 1deg;
$c-primary-s:   saturation($c-primary);
$c-primary-l:   lightness($c-primary);
// used for SVG url background images
$c-primary-lighter-l: 65%;
$c-primary-lighter: hsl($c-primary-h, $c-primary-s, $c-primary-lighter-l);

$c-accent:      hsl(199, 71%, 47%);
$c-accent-h:    hue($c-accent) / 1deg;
$c-accent-s:    saturation($c-accent);
$c-accent-l:    lightness($c-accent);

$c-danger:      hsl(0, 100%, 50%);
$c-danger-h:    hue($c-danger) / 1deg;
$c-danger-s:    saturation($c-danger);
$c-danger-l:    lightness($c-danger);

$c-black:       hsl(240, 11%, 30%);
$c-text:        hsl(240, 11%, 30%);
$c-text-h:      hue($c-text) / 1deg;
$c-text-s:      saturation($c-text);
$c-text-l:      lightness($c-text);

@function url-friendly-colour($color) {
  @return '%23' + str-slice('#{$color}', 2, -1);
}

@function select-arrow($color) {
  @return "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='#{url-friendly-colour($color)}'  d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>";
}
