@import './config';

///////
// CSS CUSTOM PROPERTIES
///////

:root {
  --c-primary-h:    $c-primary-h;
  --c-primary-s:    $c-primary-s;
  --c-primary-l:    $c-primary-l;
  --c-accent-h:    $c-accent-h;
  --c-accent-s:    $c-accent-s;
  --c-accent-l:    $c-accent-l;
  --c-text-h:    $c-text-h;
  --c-text-s:    $c-text-s;
  --c-text-l:    $c-text-l;

  // Keep `hsl` in Uppercase
  // github.com/sass/node-sass/issues/2251#issuecomment-365861645
  --c-primary-darkest:  HSL(var(--c-primary-h), var(--c-primary-s), 10%);
  --c-primary-darker:   HSL(var(--c-primary-h), var(--c-primary-s), 20%);
  --c-primary:          HSL(var(--c-primary-h), var(--c-primary-s), var(--c-primary-l));
  --c-primary-lighter:  HSL(var(--c-primary-h), var(--c-primary-s), $c-primary-lighter-l);
  --c-primary-lightest: HSL(var(--c-primary-h), var(--c-primary-s), 90%);

  --c-accent:           HSL(var(--c-accent-h), var(--c-accent-s), var(--c-accent-l));
  --c-accent-lighter:   HSL(var(--c-accent-h), var(--c-accent-s), 60%);
  --c-accent-lightest:  HSL(var(--c-accent-h), var(--c-accent-s), 90%);
  --c-background:       HSL(var(--c-primary-h), var(--c-primary-s), 95%);

  --c-text-darker:      HSL(var(--c-text-h), var(--c-text-s), 15%);
  --c-text:             HSL(var(--c-text-h), var(--c-text-s), var(--c-text-l));
  --c-text-lighter:     HSL(var(--c-text-h), var(--c-text-s), 60%);
  --c-text-lightest:    HSL(var(--c-text-h), var(--c-accent-s), 80%);
  --c-black:            $c-black;

  --s-gutter:         30px;
  --s-two-gutter:     calc( var(--s-gutter) * 2 );
  --s-big-gutter:     calc( var(--s-gutter) * 2 );
  --s-half-gutter:    calc( var(--s-gutter) / 2 );
  --s-quarter-gutter: calc( var(--s-gutter) / 4 );

  --s-max-width:    $max-width;
  --s-border-radius: 0px;

  // NAV CONFIG
  --c-nav:                  var(--c-primary-darkest);
  --s-nav-main-width:       230px;
  --s-nav-main-item-height: 50px;
  --s-nav-top-height:       70px;

  // PAPER SHEET BORDER RADIUS
  --sheet-border-radius: var(--s-quarter-gutter);
  --sheet-shadow-color: rgba(0, 0, 0, .35);
  --sheet-big-font-size: 1.5rem;
}

///////
// GLOBAL STYLES
///////

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: $font-default;
  background: var(--c-background);
  color: var(--c-black);
  line-height: 1.4em;
}

a {
  text-decoration: none;
}
input,
textarea,
select,
button {
  font: inherit;
}
input[type=number] {
  text-align: right;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
#react-main-mount {
  min-height: 100vh;
  margin-left: var(--s-nav-main-width);
}

///////
// TABS
///////

.react-tabs {
  --gutter: minmax(var(--s-gutter), calc(50% - var(--s-max-width) / 2));
  display: grid;
  grid-template-columns:
    var(--gutter) [content-col-start] 1fr [content-col-end] var(--gutter);
  grid-template-rows: auto ;

  &::before {
    content: '';
    background: var(--c-primary-darker);
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
  }

  > * {
    grid-column: content-col-start / content-col-end;
  }

  &__tab-list {
    margin: 0;
    padding: var(--s-gutter) 0 0;
    list-style: none;
    display: flex;
    // force grid overlapping
    grid-row: 1 / 2;
  }
  &__tab {
    flex: 1 1;
    text-align: center;
    padding: var(--s-half-gutter) 0;
    color: var(--c-primary-lighter);

    &--selected {
      color: var(--c-primary);
      background: var(--c-background);
    }
  }
  &__tab-panel {
    padding-top: var(--s-gutter);

    &:empty {
      display: none;
    }
  }
}

///////
// PRINT
///////

// http://www.smashingmagazine.com/2015/01/designing-for-print-with-css/

@page {
  size: A4;
  margin: 0;
}
@media #{$mq-print} {

  :root {
    --s-nav-main-width: 0;
    --s-nav-top-height: 0;
  }

  html,
  body {
    width: 210mm;
    height: 296mm;
  }
}
